.logoPely{
    margin-top: -1px;
    margin-left: 7px;
}
.mat-toolbar
{
  height: 100px;
  min-height:100px;
}
.contentBackground{
    background: rgb(119,230,115);
    position: absolute;
    background: radial-gradient(circle, rgba(119,230,115,1) 10%, rgb(172, 249, 90) 50%, rgba(119,230,115,1) 90%);
}  